ORACLE_HOST=oracle.example.internal
ORACLE_PORT=1521
ORACLE_SERVICE=payroll_service
ORACLE_USER=oracle_user
ORACLE_PASSWORD=oracle_password
ORACLE_CLIENT_LIB_DIR=
ORACLE_SOURCE_SCHEMA=

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=payroll_migration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password

ETL_DEFAULT_YEAR=2026
